h2{
    color: aqua;
}
p{
    color: brown;
    text-align: center;
    font-size: 25px;
}
.par{
    color: chartreuse;
}

#jk{
    color: antiquewhite;
}

/* div{
    height: 200px;
    width: 200px;
    color: red;
    background-color: cadetblue;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin: 100px;
    border: 1px solid red;
} */

.jk{
    display: block;
}

.jk2{
    display: inline;
}