h2{
    color: aqua;
}
p{
    color: brown;
    text-align: center;
    font-size: 25px;
}
.par{
    color: chartreuse;
}

#jk{
    color: antiquewhite;
}

/* div{
    height: 200px;
    width: 200px;
    color: red;
    background-color: cadetblue;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin: 100px;
    border: 1px solid red;
} */

/* .jk{
    display: block;
}

.jk2{
    display: inline;
} */


.container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.item{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color: chocolate;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}

.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}