h2{
    color: aqua;
}
p{
    color: brown;
    text-align: center;
    font-size: 25px;
}
.par{
    color: chartreuse;
}

#jk{
    color: antiquewhite;
}

/* div{
    height: 200px;
    width: 200px;
    color: red;
    background-color: cadetblue;
    text-align: center;
    align-content: center;
    padding: 20px;
    margin: 100px;
    border: 1px solid red;
} */

/* .jk{
    display: block;
}

.jk2{
    display: inline;
} */


/* .container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.item{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color: chocolate;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}

.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
} */

.container{
    display: grid;

    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    /* grid-template-columns:1fr 1fr 1fr 1fr ; */
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(4,100px);
    grid-template-rows:repeat(3,100px) ;
    /* grid-template-areas: "header header header header" 
    "main main . sidebar" 
    "footer footer footer footer"; */
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
   
}

.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;
}

/* .item1{
    grid-area: header;
}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
} */